@if (!User.Identity.Name.Equals("admin@gmail.com"))
{
    {
        ViewBag.Title = "Error";
    }
    <h2>Not Authorized</h2>
}
else
{
    @model AsianFoodProject.Models.Food

    {
        ViewBag.Title = "Delete";
    }

    <h2>Food - Delete</h2>
    <h4>Are you sure you want to delete this?</h4>
    <hr />

    <div>
        <h4>
            <b>
                @Html.DisplayFor(model => model.FoodName)
            </b>
        </h4>
    </div>

    <br />
    <img src=@Model.ImageUrl width="30%" height="30%">

    <br /><br />

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        }
    </div>

    <br />
    if (Model.CategoryId == 1)
    {
        <p>
            @Html.ActionLink("Back to Wok", "Wok") |
            @Html.ActionLink("Back to All Foods", "Index")
        </p>
    }

    else if (Model.CategoryId == 2)
    {
        <p>
            @Html.ActionLink("Back to Shushi", "Shushi") |
            @Html.ActionLink("Back to All Foods", "Index")
        </p>
    }

    else if (Model.CategoryId == 3)
    {
        <p>
            @Html.ActionLink("Back to CupWok", "CupWok") |
            @Html.ActionLink("Back to All Foods", "Index")
        </p>
    }
}
